body {
  font-family: 'Anonymous Pro', monospace;
}

#app-container {
  width: 960px; 
  margin: auto;
}

@keyframes fade-in-keyframes {
  from {opacity:0;}
  to {opacity:1;}
}

#map-element-container {
  width: 960px;
  height: 540px;
  background-size: contain;
  transition: background-image 0.5s linear;
}

#map-upper-container {
  height: 249px;
  width: 100%;
  background-image: url('data/uitop.png');
  background-size: 100% 100%;
  font-size: 24px;
}

#map-choices-container {
}

.map-element {
  border-radius: 5px;
  background-color: transparent;
  margin: 5px;
  width: 240px;
  font-size: 20px;
  height: 50px;
  line-height: 50px;
  float: left;
  color: #fff;
  text-align: center;
  text-decoration: none;
  background-image: url('data/choice-explore.png');
  background-size: 100% 100%;
}

.map-element:nth-child(odd) {
  animation: fade-in-keyframes 650ms;
}

.map-element:nth-child(even) {
  animation: fade-in-keyframes 450ms;
}

.choice-element {
  background-color: transparent;
  width: 867px;
  height: 48px;
  background-image: url('data/choice.png');
  background-size: 100% 100%;
  float: right;
  text-align: center;
  line-height: 40px;
  color: white;
  outline:0;
  cursor:pointer;
}

.choice-element:focus {
  background-image: url('data/choice-click.png');
}

.map-element:nth-child(1) {
  margin-left:100px;
}

.map-element:nth-child(4) {
  margin-left:40px;
}

.map-element:nth-child(7) {
  margin-left:80px;
}

.map-element-padding {
  float: left;
  width: 100px;
  height: 32px;
}

#map-dialogue-container {
  height: 291px;
  width: 100%;
  background-size: 100% 100%;
  transition: background-image 0.5s linear;
}

#map-box {
  width: 100%;
  background-color: #aaa;
  user-select: none;
  animation: fade-in-keyframes 650ms;
}

#map-box img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: auto;
  opacity: 0.6;
}

.center-container {
  width: 100%;
  height: 170px;
}

#map-dialogue-container {
  width: 100%;
}

#map-back {
  text-decoration: none;
  padding: 4px; 
  font-weight: bold;
}

#map-title {
  color: white;
  padding-left: 20px;
  padding-top: 10px;
  height: 32px;
  margin-bottom: 20px;
}

#map-title a:visited {
  color: white;
}

#map-title a:link {
  color: white;
}

#dialogue-line {
}

#next-line {
  text-decoration: none;
  padding: 4px; 
  font-weight: bold;
  float: right;
  position: relative;
  right: 20px;
  top: 60px;
  font-size: 32px;
  color: white;
  padding-right: 20px;
  background-color: transparent;
  background-image: url('data/next.png');
  background-size: 100% 100%;
  width: 32px;
  height: 46px;
  animation: fade-in-keyframes 650ms;
}

#dialogue-line-container {
  border-radius: 1px;
  width: 860px;
  font-size: 24px;
  height: 40px;
  color: white;
  padding-top: 40px;
  padding-left: 80px;
}

.border-gray {
  border-color: #AAAAAA;
}

.strikethrough {
  text-decoration: line-through; 
}

.description-container {
  padding-top: 8px;
}

.description {
  width:100%;
}

.line-think {
 font-style: italic;
}

.line-read {
}

.line-description {
}

#editor-toolbar {
  margin-bottom: 8px;
}

#app-toolbar {
  margin-bottom: 8px;
}

#editor-help-text {
}

#error-container {
  font-size: 12px;
  color: #AA1010;
}

#story-container {
  width: 960px; 
  margin: auto;
}

.story-location-name {
  padding-top: 16px;
  text-transform: uppercase;
}

.story-actor-name {
  padding-top: 16px;
  text-transform: uppercase;
  text-align: center;
}

.story-line-say {
  padding-left: 225px;
  padding-right: 225px;
}

.story-line-think {
  padding-left: 225px;
  padding-right: 225px;
  font-style: italic;
}

.story-description {
}

.story-line-say + .story-description {
    margin-top: 16px;
}
.story-line-think + .story-description {
    margin-top: 16px;
}

@keyframes shake-keyframes {
  0% { 
    transform: translate(2px, 1px) rotate(0deg); 
  }
  10% { 
    transform: translate(-1px, -2px) rotate(-1deg); 
  }
  20% { 
    transform: translate(-3px, 0px) rotate(1deg); 
  }
  30% { 
    transform: translate(0px, 2px) rotate(0deg); 
  }
  40% { 
    transform: translate(1px, -1px) rotate(1deg); 
  }
  50% { 
    transform: translate(-1px, 2px) rotate(-1deg); 
  }
  60% { 
    transform: translate(-3px, 1px) rotate(0deg); 
  }
  70% { 
    transform: translate(2px, 1px) rotate(-1deg); 
  }
  80% { 
    transform: translate(-1px, -1px) rotate(1deg); 
  }
  90% { 
    transform: translate(2px, 2px) rotate(0deg); 
  }
  100% { 
    transform: translate(1px, -2px) rotate(-1deg); 
  }
}

.shake {
  animation-name: shake-keyframes;
  animation-duration: 0.8s;
  transform-origin:50% 50%;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.location-start .choice-element:nth-child(1) {
  margin-top:250px;
}

.location-start .choice-element {
  width: 750px;
  margin-right: 90px;
}

.location-start #map-upper-container {
  background-image: none;
}

.location-start #map-description {
  visibility: hidden;
}
