#app-container {
  width: 800px;
  margin: auto;
}

body {
}

.map-element {
  border-radius: 5px;
  border: 2px solid #73AD21;
  margin: 5px;
  width: 31%;
  height: 1em;
  float: left;
  text-align: center;
  text-decoration: none;
  padding-bottom: 4px;
}

#map-box {
  border-radius: 25px;
  border: 2px solid #73AD21;
  padding: 20px; 
  width: 100%;
  font-size: 1.5em;

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

#map-element-container {
  width: 100%;
  height: 170px;
}

#map-dialogue-container {
  width: 100%;
}

#map-back {
  text-decoration: none;
  padding: 4px; 
  font-weight: bold;
  /* border: 2px dotted #73AD21; */
}

#map-title {
  border-radius: 1px;
  border-bottom: 2px dotted #73AD21;
  width: 100%;
  height: 1em;
}

#dialogue-line {
/*
  border-radius: 1px;
  width: 100%;
  height: 2.5em; 
*/
  font-family: "Lucida Sans Typewriter", "Lucida Console", Monaco, "Bitstream Vera Sans Mono", monospace;
}

#dialogue-speaker {
  width: 100%;
  height: 1em; 
  font-weight: bold;
  border-bottom: 2px dotted #73AD21;
}

#debug-box {
  border: 2px dotted black;
  padding: 20px; 
  width: 100%;
  height: 250px; 
  overflow: scroll;
}

.warning-text {
  color: red;
}
.error-text {
  color: red;
}

.dialogue-think {
 font-style: italic;
}

.dialogue-read {
}

#next-line {
  text-decoration: none;
  padding: 4px; 
  /* float: right; */
  font-weight: bold;
}

#dialogue-line-container {
  border-radius: 1px;
  width: 100%;
  height: 2.5em; 
}
